<div class="dropdown-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <span class="title" fxLayout="row" fxLayoutAlign="center">
    CPU
  </span>
  <div fxLayout="row" fxFlex="1 1 12%" fxLayoutAlign="space-between stretch">
    <div echarts [options]="totalUsageOptions" (chartInit)="onTotalUsageChartInit($event)" fxFlex="1 1 84%"></div>
    <div echarts [options]="coreUsageOptions" (chartInit)="onCoreUsageChartInit($event)" fxFlex="1 1 15%"></div>
  </div>

  <div fxLayout="column" *ngIf="totalUsage">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxlayout="row" fxLayoutAlign="center center">
        <mat-icon class="rounded blue">stop</mat-icon>
        <span>User</span>
      </div>
      <span>
        {{ totalUsage.userCPU | number:'1.0-0' }}%
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxlayout="row" fxLayoutAlign="center center">
        <mat-icon class="rounded red">stop</mat-icon>
        <span>System</span>
      </div>
      <span>
        {{ totalUsage.systemCPU | number:'1.0-0' }}%
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxlayout="row" fxLayoutAlign="center center">
        <mat-icon class="rounded gray">stop</mat-icon>
        <span>Idle</span>
      </div>
      <span>
        {{ totalUsage.idleCPU | number:'1.0-0' }}%
      </span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="cpuTemperature">
    <span>CPU Temperature</span>
    <span>{{ cpuTemperature }}°</span>
  </div>

  <mat-divider></mat-divider>
  <span class="title" fxLayout="row" fxLayoutAlign="center">
    PROCESSES
  </span>

  <div fxLayout="column" *ngIf="processes.length !== 0">
    <div fxLayout="row" fxLayoutAlign="space-between start" *ngFor="let process of processes">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <img class="icon" src="{{ process.icon }}">
        <span>{{ (process.commandName.length > 20) ? (process.commandName | slice:0:20)+'...' : (process.commandName) }}</span>
      </div>
      <span>{{ process.percentCPU | number:'1.1-1' }}%</span>
    </div>
  </div>

  <mat-divider></mat-divider>
  <span class="title" fxLayout="row" fxLayoutAlign="center">
    LOAD AVERAGE
  </span>

  <div fxLayout="row" fxFlex="1 1 20%" fxLayoutAlign="space-between stretch">
    <div echarts [options]="averageLoadOptions" (chartInit)="onAverageLoadChartInit($event)" fxFlex="1 1 100%"></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="averageLoad">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon class="rounded blue">stop</mat-icon>
      <span>{{ averageLoad.loadLast1Minute | number:'1.0-2' }}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon class="rounded red">stop</mat-icon>
      <span>{{ averageLoad.loadLast5Minutes | number:'1.0-2' }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon class="rounded gray">stop</mat-icon>
      <span>{{ averageLoad.loadLast15Minutes | number:'1.0-2' }}</span>
    </div>
  </div>

  <mat-divider></mat-divider>
  <span class="title" fxLayout="row" fxLayoutAlign="center">
    UPTIME
  </span>

  <div fxLayout="row" fxLayoutAlign="start start" *ngIf="uptime">
    <span>{{ uptime | duration }}</span>
  </div>
</div>