.title {
    color: rgb(47, 180, 250);
}

.rounded {
    clip-path: circle(30% at center);
}

.red {
    color: #f44336;
}

.blue {
    color: #2196f3;
}

.gray {
    color: #aaaaaa;
}

.icon {
    width: 20px;
    height: 20px;
}